@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Removes default margin and padding from all elements */
/* Ensures consistent layout across browsers */
/* Makes width & height include padding and border */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling when clicking links like #about */
}

body {
  font-family: "Times New Roman", Georgia, Serif;
  line-height: 1.6; /* Improves readability with proper line spacing */
}

/* Header */
header {
  position: sticky; /* Makes the header stick to the top when scrolling */
  top: 0; /* Distance from the top where the header should stick */
  background-color: #ffffff;
  box-shadow: 0 2px 5px #00000026; /* horizontal vertical blur color */
  z-index: 1000; /* Keeps the header above other content (layer order) */
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px; /* keep right spacing */
}

.logo {
  margin-left: 6px; /* control ONLY left title spacing */
}

nav a {
  text-decoration: none;
  color: #000;
  margin-left: 24px;
  letter-spacing: 3px;
  font-size: 14px;
  padding: 8px 12px;
}

nav a:hover {
  background-color: #e0e0e0;
}

/* Hero-section */
.hero-section {
  background-image: url('assets/hamburger.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Playfair Display", serif;
  letter-spacing: 5px;
  color: #4a4949;
}

.hero-section h1 {
  font-size: 30px;
  padding: 12px 24px;
  margin-bottom: 10px;
  font-weight: 400;
  margin-left: 6px;
}

/* Page-Content */
.page-content-main {
  padding: 0px 115px;
  margin: 80px 80px 80px 0px;
}

.page-content-card {
  display: flex;
  flex-direction: row;
}

.page-content-heading {
  text-align: center;
  margin: 0px 0px 32px;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
}

.page-content-card h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
}

.highlight {
  background-color: #e0e0e0;
}

.tradition-content {
  letter-spacing: 4px;
  text-align: center;
  margin: 30px 0px 15px;
}

.about-content {
  color: #5f5e5e;
  margin-top: 20px;
  margin-bottom: 45px;
  font-size: 16px;
}

.content-img {
  margin-right: 30px;
}

.section-divider {
  width: 85vw; /* same width as your content/card */
  max-width: 100%; /* responsive safety */
  margin: 60px auto; /* center horizontally */
  border: none; /* remove default border */
  border-top: 1px solid #ddd; /* light horizontal line */
}

/* Menu-Section */
.menu-content-main {
  padding: 0px 115px;
  margin: 80px 80px 80px 220px;
}

.menu-content {
  color: #777;
  margin-bottom: 45px;
  font-size: 14px;
}

.menu-content-heading {
  text-align: center;
  padding: 20px;
  margin: 15px 0px 32px;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
}

.menu-img {
  padding: 30px;
}

/* Contact-Section */
.contact-section {
  padding: 0px 115px;
  margin: 80px 80px 80px 0px;
}

.contact-section h1 {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 3px;
  font-family: "Playfair Display", serif;
  margin-bottom: 40px;
}

.contact-section-paragraph {
  font-size: 14px;
  margin: 14px 0px;
}

.address {
  color: #607d8b;
  font-weight: bold;
}

.contact-form input {
  width: 100%;
  padding: 16px;
  margin: 12px 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

.contact-form button {
  background: #ececec;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  margin-top: 12px;
}

.contact-form button:hover {
  background-color: #c8c6c6;
}

/* Footer */
footer {
  margin-top: 60px;
  padding: 45px;
  text-align: center;
  background-color: #f1f1f1;
  font-size: 14px;
}


footer p a {
  color: #000;
}

footer p a:hover {
  color: #358411;
}
