@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   /* NAVBAR */
 
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    z-index: 100;
}

.navbar nav a {
    margin: 0 15px;
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border-radius: 6px;
}

.navbar nav a:hover {
    background-color: #e9e4e4;
}

.icon {
    height: 20px;
}

.icons span {
    margin-left: 15px;
    cursor: pointer;
}

.icons span:hover {
    background-color: #e9e4e4;
    border-radius: 6px;
}

   /* HERO SECTION */

.hero-section-container {
    background-image: url('assets/bg_model-y.jpg');
    height: 85vh;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.hero-content-card {
    color: #ffffff;
}

.hero-content-card h1 {
    font-size: 55px;
    font-weight: 600;
    margin-top: 50px;
}

.hero-content-card p {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}

.test-drive {
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
    display: inline-block;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    padding: 12px 40px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.btn-orderNow {
    background: #3e6ae1;
    color: #ffffff;
}

.btn-orderNow:hover {
    background: #1b50e1;
}

.btn-learnMore {
    background: #ffffff;
    color: #000000;
}

.btn-learnMore:hover {
    background: #f1e7e7;
}

   /* EXPERIENCE / CHARGING */

.hero-section-container1 {
    display: flex;
    gap: 30px;
    padding: 60px;
    background-color: #ffffff;
}

.Experience-CharginTesla-card {
    background-color: #edeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border-radius: 12px;
    padding: 30px;
    font-family: "Montserrat", sans-serif;
}

.card-text h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-text p {
    font-size: 18px;
    color: #5c5e62;
    margin-bottom: 20px;
}

.card-btn {
    padding: 10px 24px;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

.card-btn:hover {
    background-color: #efe2e2;
}

.experience-charger-tesla-img {
    height: 180px;
}

   /* LIST OVERVIEW SECTION */

.tesla-container {
    background-image: url('assets/teslaymodel.webp');
    background-size: cover;
    background-position: center;
    font-family: "Montserrat", sans-serif;
    padding: 80px 20px;
    color: #f2f1f1;
    display: flex;
    align-items: center;     
    justify-content: center;  
}

.tesla-container-card {
    background-color:#00000027;
    padding: 40px;
    width: 700px;          
    border-radius: 12px;
    text-align: left;
}

.tesla-container h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.tesla-container h1:hover{
    color: #ff0000;
    cursor: pointer;
}

.tesla-container h3 {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.tesla-container h3:hover{
    color: #ff0000;
    cursor: pointer;
}

.features-list,
.performance-list {
    margin-left: 20px;
}

.features-list li,
.performance-list li {
    margin-bottom: 10px;
    font-size: 16px;
    
}

.features-list li:hover,
.performance-list li:hover {
    color: #ff0000;
    cursor: pointer;
}
