
*{
    padding: 0%;
    margin: 0px;
      font-family: 'roboto', monospace;
}

body{
    background-image: url('./Homepage-Promotional-Carousel-Model-Y-Desktop-RHD.avif');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;   
}
h1{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
}
button{
    display: block;
    margin: auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(39, 12, 195);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.test{
    text-align: center;
    margin-top: 20px;
    text-decoration: none
}
.test a{
    color: white;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}
.buttons a{
    width: 160px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#white{
    background-color: white;
    color: #000000;
}
#blue{
    background-color: rgb(73, 41, 255);
    color: white;
}
nav{
    height: 60px;
    background-color: white;
}
.navs{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding : 20px 20px;
    font-weight: 700;
}
.bar{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-weight:bolder;
}
.bar a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bolder;
}
.hero{
    padding-top: 40px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-top: 150px;
    color: aliceblue;
    text-decoration: solid;
}
.models{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:aliceblue;
    background:transparent
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    
}
