@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
}
.main_container{
    text-align: center;
    color: white;
    background-image: url('assets/cars.avif');
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    padding-top: 40px;
    font-size: 30px;
}
.main_container a{
    color: white;
    font-size: 20px;
    padding: 10px;
}
.sub_container{
    padding: 30px;
}
.sub_container a{
    border: 1px solid black;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
}
#link-1{
    background-color: blue;
}
#link-2{
    background-color: white;
    color: black;
}