*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.header-container-1{
    font-family: "Times New Roman", Georgia, Serif;
    font-weight: 400;
    font-size: 20px;
}
.header-container-1 a{
    text-decoration: none;
    color: black;
}
.header-container-2{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.header-container-2 a{
    color: black;
    text-decoration: none;
}
.hero-section-1{
    background: url("https://www.w3schools.com/w3images/hamburger.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    max-width: 100%;
}
.hero-section-1 p{
    font-size: 36px;
    padding-top: 600px;
    padding-left: 40px;
    font-family: "Times New Roman", Georgia, Serif;
    letter-spacing: 5px;
}
.hero-section-2{
    margin: 70px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.co-hero-section-2_1 img{
    height: 600px;
    border-radius: 4px;
}
.co-hero-section-2_2{
    line-height: 1.5;
}
.co-hero-section-2_2 h1{
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 5px;
    font-family: "Times New Roman", Georgia, Serif;
    padding: 10px 0px;
}
.co-hero-section-2_2 h5{
    text-align: center;
    font-size: 18px;
    font-family: "Times New Roman", Georgia, Serif;
    font-weight: 200;
    letter-spacing: 5px;
    padding: 10px 0px;
}
.co-hero-section-2_2 p{
    font-size: 18px;
    padding: 10px 0px;
}
#co-hero-section-2_3{
    padding-bottom: 50px;
    opacity: 0.5;
}
.hero-section-3{
    margin: 70px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.co-hero-section-3_1 h1{
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 5px;
    font-family: "Times New Roman", Georgia, Serif;
    padding: 25px 0px;
}
.co-hero-section-3_1 h4{
    font-size: 20px;
    font-family: "Times New Roman", Georgia, Serif;
    font-weight: 400;
    letter-spacing: 5px;
    padding: 25px 0px;
}
.co-hero-section-3_1 p{
    opacity: 0.5;
}
#co-hero-section-3_2{
    padding-bottom: 50px;
}
.co-hero-section-3_3 img{
    height: 700px;
    border-radius: 4px;
    opacity: 0.7;
}
.hero-section-4{
    margin: 70px 100px;
}
.hero-section-4 h1{
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: 300;
    padding-bottom: 10px;
}
.hero-section-4 p{
    padding: 10px 0px;
}
.hero-section-4 p b{
    color: #607d8b;
}
.co-hero-section-4_1 input{
    border: none;
    line-height: 1.5;
    font-size: 15px;
    padding: 15px 0px;
}
.co-hero-section-4_1 button{
    padding: 10px;
    margin-top: 30px;
}
.hr-line{
    margin: 0px 100px;
    opacity: 0.5;
}
footer{
    background-color: rgba(163, 155, 155,0.2);
    text-align: center;
    padding: 50px;
}