@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
header{
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.header-logo img{
    width: 100px;
}
.header-anchor a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 10px;
}
#main-container{
    background: url("./assests/tesla-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    width: 100%;
    height: 500px;
}
#main-link{
    margin: 40px;
}
#main-link a{
    border: 1px solid black;
    padding: 10px 60px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}
#link-1{
    background-color: rgb(62, 62, 223);
    color: white;
}
#link-2{
    background-color: #fff;
    color: #000;
}
h1{
    padding-top: 30px;
    font-size: 50px;
}
h4{
    margin: 10px;
    font-size: 16px;
}
#anchor-1{
    font-size: 14px;
    color: white;
}
.second-container{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 400;
    margin-top: 30px;
}
