@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

/* Hero section */

.hero_container {
  background-color: #f5f5f7;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

p {
  font-size: 16px;
}

a {
  font-size: 12px;
  color: black;
  text-decoration: none;
}

#hero_image {
  width: 100%;
}

.hero_links {
  margin-bottom: 14px;
}

#hero_link1 {
  color: #fff;
  background-color: #0171e3;
}

.hero_link {
  border: 1px solid #0171e3;
  border-radius: 16px;
  padding: 6px 12px;
}

#hero_link2 {
  color: #0171e3;
}
